<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv=content-type content="text/html; charset=utf-8" />
        <link href="{$Think.ADMIN_CSS}admin.css" type="text/css" rel="stylesheet" />
        <script language=javascript>
            function expand(el)
            {
                childobj = document.getElementsByClassName("child" + el);

                for(i=0;i<childobj.length;i++){

                    if (childobj[i].style.display == 'none')
                    {
                        childobj[i].style.display = 'block';
                    }
                    else
                    {
                        childobj[i].style.display = 'none';
                    }

                }

                return;
            }
        </script>
    </head>
    <body>
        <table height="100%" cellspacing=0 cellpadding=0 width=170 
               background={$Think.ADMIN_IMG}menu_bg.jpg border=0>
               <tr>
                <td valign=top align=middle>
                    {volist name="quan1" id="vo"}
                        <table cellspacing=0 cellpadding=0 width=150 border=0>

                            <tr height=22>
                                <td style="padding-left: 30px" background={$Think.ADMIN_IMG}menu_bt.jpg><a
                                        class=menuparent onclick=expand({$vo.auth_id}) href="javascript:void(0);">{$vo.auth_name}</a>
                                </td>
                            </tr>
                        </table>
                        {volist name="quan2" id="vvo"}
                            {if condition = "$vo.auth_id == $vvo.auth_pid"}
                        <table class=child{$vo.auth_id} style="display: none" cellspacing=0 cellpadding=0
                               width=150 border=0>
                            <tr height=20>
                                <td align=middle width=30><img height=9 src="{$Think.ADMIN_IMG}menu_icon.gif" width=9></td>

                                    <td>
                                        <!--<a href="">{$vvo.auth_c}{$vvo.auth_a}</a>-->
                                        <a class=menuchild href="{:url('admin/{$vvo.auth_c}/{$vvo.auth_a}')}" target="right">{$vvo.auth_name}</a>
                                    </td>

                            </tr>
                        </table>
                            {/if}
                        {/volist}
                   {/volist}
                </td>
            </tr>
        </table>
    </body>
</html>